
USE [QueueBreaker]
GO
/****** Object:  Table [dbo].[Canteen]    Script Date: 5/6/2021 8:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canteen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Image] [varchar](100) NULL,
	[Status] [bit] NOT NULL,
	[CreatedId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Canteen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 5/6/2021 8:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[CanteenId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[CreatedId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/6/2021 8:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CanteenId] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Image] [varchar](200) NULL,
	[ImageFile] [varchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CreatedId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 5/6/2021 8:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [varchar](200) NULL,
	[ImageFile] [varchar](max) NULL,
	[Comment] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
	[CreatedId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/6/2021 8:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CanteenId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[Review] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Items]    Script Date: 5/6/2021 8:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ItemId] [int] NULL,
	[Quantity] [int] NULL,
	[ItemPrice] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[Status] [bit] NOT NULL,
	[CreatedId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Order_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/6/2021 8:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/6/2021 8:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[EnrollmentNo] [nchar](10) NULL,
	[CanteenID] [int] NULL,
	[ZipCode] [varchar](20) NULL,
	[Email] [nvarchar](256) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NULL,
	[RoleID] [int] NOT NULL,
	[Token] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Canteen] ON 

INSERT [dbo].[Canteen] ([Id], [Name], [Image], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (1, N'Canteen 2', NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Canteen] ([Id], [Name], [Image], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (2, N'krupa Canteen', NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Canteen] ([Id], [Name], [Image], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (3, N'Tea Post', NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Canteen] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [CanteenId], [Name], [Image], [ImageFile], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (1, 1, N'Indian', NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Category] ([Id], [CanteenId], [Name], [Image], [ImageFile], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (6, 1, N'Cold drink', NULL, NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [CategoryId], [Name], [Price], [Image], [ImageFile], [Comment], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (2, 1, N'Pizza', CAST(80.00 AS Decimal(18, 2)), N'3da8472274b8456fa28b80036a8f822b.jpg', NULL, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Items] ([Id], [CategoryId], [Name], [Price], [Image], [ImageFile], [Comment], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (3, 1, N'Puff', CAST(10.00 AS Decimal(18, 2)), N'3da8472274b8456fa28b80036a8f822b.jpg', NULL, NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [UserId], [CanteenId], [OrderDate], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate], [Review]) VALUES (1084, 14, 1, CAST(N'2021-04-23T13:06:49.860' AS DateTime), 1, 1, CAST(N'2021-04-23T13:06:49.860' AS DateTime), 1, CAST(N'2021-04-23T13:06:49.860' AS DateTime), N'Good')
INSERT [dbo].[Order] ([Id], [UserId], [CanteenId], [OrderDate], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate], [Review]) VALUES (1085, 14, 1, CAST(N'2021-04-23T13:21:35.993' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Order] ([Id], [UserId], [CanteenId], [OrderDate], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate], [Review]) VALUES (1086, 14, 1, CAST(N'2021-04-23T13:21:41.017' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Items] ON 

INSERT [dbo].[Order_Items] ([Id], [OrderID], [ItemId], [Quantity], [ItemPrice], [TotalPrice], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (31, 1084, 2, 1, CAST(80.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)), 1, 1, CAST(N'2021-04-23T13:06:49.860' AS DateTime), 1, CAST(N'2021-04-23T13:06:49.860' AS DateTime))
INSERT [dbo].[Order_Items] ([Id], [OrderID], [ItemId], [Quantity], [ItemPrice], [TotalPrice], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (33, 1085, 2, 1, CAST(80.00 AS Decimal(18, 2)), NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Order_Items] ([Id], [OrderID], [ItemId], [Quantity], [ItemPrice], [TotalPrice], [Status], [CreatedId], [CreatedDate], [ModifiedId], [ModifyDate]) VALUES (34, 1086, 1, 1, CAST(10.00 AS Decimal(18, 2)), NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (1, N'SuperAdmin')
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [City], [State], [Country], [Address], [EnrollmentNo], [CanteenID], [ZipCode], [Email], [Password], [PhoneNumber], [TwoFactorEnabled], [RoleID], [Token], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'super', N'admin', NULL, NULL, NULL, NULL, NULL, 1, NULL, N'superadmin@qb.com', N'JIi8q6FKISsG76h2ZNW0jgv3BTN1aCV99whx0pr+sCU=', NULL, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [City], [State], [Country], [Address], [EnrollmentNo], [CanteenID], [ZipCode], [Email], [Password], [PhoneNumber], [TwoFactorEnabled], [RoleID], [Token], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, N'vilash1', N'p', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'vilash@qb.com', N'RyhwnqOd/OWMIbMdrZPCtA==', N'+9191066 46719', 0, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [City], [State], [Country], [Address], [EnrollmentNo], [CanteenID], [ZipCode], [Email], [Password], [PhoneNumber], [TwoFactorEnabled], [RoleID], [Token], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (5, N'hardik', N'patel', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'hardik@qb.com', N'cWJAMTIzNDU=', N'+9191066 46719', 0, 2, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Canteen] ADD  CONSTRAINT [DF_Canteen_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_User_TwoFactorEnabled]  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Canteen] FOREIGN KEY([CanteenId])
REFERENCES [dbo].[Canteen] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Canteen]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Items]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Users]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Canteen] FOREIGN KEY([CanteenId])
REFERENCES [dbo].[Canteen] ([Id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Canteen]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Category]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Canteen] FOREIGN KEY([CanteenId])
REFERENCES [dbo].[Canteen] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Canteen]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Users]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FK_Order_Items_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FK_Order_Items_Items]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FK_Order_Items_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FK_Order_Items_Order]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Canteen] FOREIGN KEY([CanteenID])
REFERENCES [dbo].[Canteen] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Canteen]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
