@page "/OrderItem/"

@inject IOrderItemRepository _repo
@*@inject HttpClient _client*@
<h3 class="card-title">Index</h3>
<hr />
<br />
@if (Model == null)
{
    <LoadingMessage Message="Loading OrderItem" />
}
else
{
    <AuthorizeView Roles="Admin">
        <a href="/OrderItem/create" class="btn btn-primary">
            <span class="oi oi-plus"></span>
            Create New OrderItem
        </a>
        <br />
    </AuthorizeView>
    @if (Model.Count < 1)
    {
        <LoadingMessage Message="There are no Canteen in the data store.
                        Click 'Create OrderItem' to Begin " />
    }
    else
    {
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Name</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@m.Order.OrderItems</td>

                        <td>
                            <a href="/OrderItem/view/@m.Id" class="btn btn-primary">
                                <span class="oi oi-book"></span>
                            </a>
                            <AuthorizeView Roles="Admin">
                                <a href="/OrderItem/edit/@m.Id" class="btn btn-warning">
                                    <span class="oi oi-pencil"></span>
                                </a>
                                <a href="/OrderItem/delete/@m.Id" class="btn btn-danger">
                                    <span class="oi oi-delete"></span>
                                </a>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private IList<OrderItem> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _repo.Get(Endpoints.OrderItemEndpoint);
    }
}
